<div class="cover-2">
  <div class="container align-items-center">
    <!-- タイトル部分 -->
    <div class="row">
      <h2 class="title font-weight-normal mt-3 mb-5">通知一覧</h2>
    </div>

    <!-- 通知リスト -->
    <div class="container d-flex flex-column align-items-center">
      <ul class="list-group">
      <% notifications = @notifications.where.not(visitor_id: current_user.id) %>
        <!-- 自分の投稿に対する確認しました、コメントは通知に表示しない -->
        <% if notifications.exists? %>
          <%= render notifications %>
          <%= paginate notifications %>
        <% else %>
          <p>通知はありません</p>
        <% end %>

    </ul>
      </div>
    </div>
  </div>
</div>
