<div class="cover-user-index">
  <div class="container align-items-center">
    <div class="row mt-2 mb-3">
      <h2 class="title font-weight-normal">フォロワー</h2>
    </div>
  </div>
  <div class="container d-flex flex-column align-items-center">
    <%= render 'index', users: @users, user: @user %> 
  </div>
</div>