<div class="cover-user-index">
  <div class="container d-flex flex-column align-items-center">
    <div class="row mt-5">
      <h2 class="title font-weight-normal">フォロー一覧</h2>
    </div>
    <div class="row mt-5 w-50">
    <%= render 'index', users: @users, user: @user %>
  </div>
</div>