<div class="cover-user-index">
  <div class="container align-items-center">
    <div class="row mt-3 mb-3">
      <h2 class="title font-weight-normal">ユーザ一覧</h2>
    </div>
  </div>
  <div class="container d-flex flex-column align-items-center">
    <%= render 'index', users: @users, user: @user %>
  </div>
</div>