<div class="cover-home">
  <div class="text-center">
    <h1 class="toptitle mb-2">SafeRoads</h1>
    <p class="sub-title">〜for Civil Engineers〜</p>
    <h2 class="btn btn-primary mr-2">新規登録</h2>
    <h2 class="btn btn-success ml-2">ログイン</h2>
  </div>
</div>
