<div class="cover-1">
  <div class="container align-items-center">
    <!-- タイトル部分 -->
    <div class="row">
      <h2 class="title font-weight-normal mt-3 mb-5">下書き一覧</h2>
    </div>
    <%= render 'index', road_conditions: @road_conditions %>
  </div>
</div>
