<div class="cover-index">
  <div class="container d-flex flex-column align-items-center">
    <!-- タイトル部分 -->
    <div class="row mt-5">
      <h1 class="font-weight-normal mt-2 mb-2">下書き一覧</h1>
    </div>
    <%= render 'index', road_conditions: @road_conditions %>
  </div>
</div>
