<div class="cover-index">
  <div class="container d-flex flex-column align-items-center">
     <!-- タイトル部分 
     <div class="row mt-5">
       <h2 class="font-weight-normal mt-2 mb-2">報告案件一覧</h2>
     </div> -->
  </div>
    <%= render 'index', road_conditions: @road_conditions %>
</div>
