/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";

 html,
 body {
   width: 100%;
   height: 100%;
   margin: 0;
   padding: 0;
 }
 
 .profiler-results {
   display: none;
 }
 
 header {
   display: flex;
   background-color: black;
 }
 
 header div:first-child {
   margin-right: auto;
   font-size: 25px;
 }
 
 header div {
   margin-left: 30px;
   line-height: 30px;
 }
 
 a {
   text-decoration: none;
 }
 
 a:hover {
   color: #25ceff !important;
   text-decoration: underline;
 }
 
 #head-top {
   text-decoration: none;
   font-size: 25px;
 }
 
 .nav-link {
   text-decoration: none;
 }
 
 .profile-img {
   border-radius: 50%;
 }
/* ハンバーガーメニューのスタイル */
.hamburger-menu {
  width: 50px;
  height: 50px;
  position: relative;
  border: none;
  background: transparent;
  appearance: none;
  padding: 0;
  cursor: pointer;
}

.hamburger-bar {
  display: inline-block;
  width: 44%;
  height: 2px;
  background: #ffffff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: .5s;
}
.hamburger-bar:first-child {
  top: 16px;
}
.hamburger-bar:nth-child(2) {
  top: 24px;
}
.hamburger-bar:last-child {
  top: 32px;
}
.hamburger-menu--open .hamburger-bar {
  top: 50%;
}
.hamburger-menu--open .hamburger-bar:first-child {
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
.hamburger-menu--open .hamburger-bar:last-child {
  transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}
.hamburger-menu--open .hamburger-bar:nth-child(2) {
  display: none;
}

/* ナビゲーションメニュー */
.navigation {
  display: none;
  background: #242424;
  position: absolute;
  top: 50px;
  width: 100%;
  z-index: 9999;
}

.navigation div {
  margin: 0 10px;
}
.nav-link:hover {
  background: #fcfcfc;
}
/* 初期状態ではナビゲーションメニューを隠す */
.navigation {
  display: none;
}

/* ハンバーガーメニューが開いたときのスタイル */
.navigation.open {
  display: block;
}

/* 小さい画面（スマートフォン）の場合 */
@media screen and (max-width: 768px) {
  .navigation {
    display: none; /* デフォルトで非表示 */
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background-color: #333;
  }

  .hamburger-menu {
    display: flex; /* 小さい画面でハンバーガーメニューを表示 */
  }

  .navigation.active {
    display: flex; /* トグルで表示 */
  }
}
