.cover-home h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #202428; /* テーマカラー */
    text-align: center; /* 中央揃え */
  }

.top-title {
    font-family: serif;
  }
  
.sub-title {
    font-family: serif;
  }
  
  .cover-home {
    height: 100%;
    width: 100%;
    display: table;
    background-image: url(/assets/top.jpg);
    background-color:rgba(255,255,255,0.4);
    background-blend-mode:lighten;
    background-size: 100% 100%;
  }
  
  .text-center {
    display: table-cell;
    vertical-align: middle;
  }